<div class="well">
  <h2>Incluir cliente {{cliente.nome}}</h2>
  <div class='row'>

    <div class="well well-lg clearfix">
    	<h4>Dados pessoais</h4>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Nome" ng-model="cliente.nome" ng-trim="true"/>
	    </div>
	    <div class="col-md-4">
	    	<div>
	        	<input class="form-control" type="text" placeholder="CPF" ng-model="cliente.cpf" mask="999.999.999-99"/>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="RG" ng-model="cliente.rg" mask="99.999.999-9"/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Data de Nascimento" ng-model="cliente.nascimento" mask='39/19/9999'/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="E-mail" ng-model="cliente.email"/>
	    </div>
    </div>

    <div class="well well-lg clearfix">
    	<h4>Dados residenciais</h4>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Telefone" ng-model="cliente.telefone" mask='(99) 9999-9999'/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="CEP" ng-model="cliente.cep" ng-blur="buscarCep();" mask="99999-999"/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Endereço" ng-model="cliente.endereco" ng-disabled="cliente.endereco"/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Número" ng-model="cliente.numero"/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Complemento" ng-model="cliente.complemento"/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Bairro" ng-model="cliente.bairro" ng-disabled="cliente.bairro"/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Cidade" ng-model="cliente.cidade" ng-disabled="cliente.cidade"/>
	    </div>
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="Estado" ng-model="cliente.estado" ng-disabled="cliente.estado"/>
	    </div>    
	    <div class="col-md-4">
	        <input class="form-control" type="text" placeholder="País" ng-model="cliente.pais" ng-disabled="cliente.pais"/>
	    </div>
    </div>

    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-success" onclick="window.location.href='javascript:window.history.go(-1)'">Voltar</button>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
          </div>
          <div class="modal-body">
            Deseja salvar o novo cliente?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="salvar();" data-dismiss="modal">Sim</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>